.contentPage {
  .container {
    .top_menu {
      margin-bottom: 60px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .menu_item {
        margin-right: 10px;
        img {
          width: 40px;
          border: 3px solid hsl(320, 93%, 55%);
          border-radius: 50%;
          padding: 4px;
        }
        p {
          font-size: 13px;
          color: #333;
        }
      }
    }

    .post_area {
      border-bottom: 1px solid gray;
      width: 70%;
      margin-left: 15%;
      margin-bottom: 30px;

      .post_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .post_header_info {
          display: flex;
          img {
            width: 35px;
            border: 1px solid gray;
            border-radius: 50%;
            padding: 2px;
            margin-right: 15px;
          }

          .auth_info {
            .title {
              display: flex;
              column-gap: 10px;
              button {
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: blue;
                &:hover {
                  color: #333;
                }
              }

              span {
                font-size: 15px;
                color: #111;
              }
            }
          }
        }

        button {
          border: none;
          background-color: transparent;
          cursor: pointer;

          i {
            font-size: 25px;
            cursor: pointer;
            color: #555;
          }
        }
      }

      .post {
        padding: 10px 0px;
        img {
          width: 100%;
        }
      }

      .comments_area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        button {
          border: none;
          background-color: transparent;
          color: #555;
          cursor: pointer;
          margin-right: 15px;
          &:last-child {
            margin-right: 0px;
          }

          i {
            font-size: 30px;
          }
        }
      }

      .post_details {
        span {
          font-size: 17px;
          color: black;
          margin-bottom: 5px;
        }

        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
          font-size: 16px;
          color: black;
          margin-bottom: 5px;
        }

        .comments_box {
          padding: 15px 0px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          input {
            border: none;
            background-color: transparent;
            outline: none;
            font-size: 16px;
            &::placeholder {
              font-size: 16px;
            }
          }

          button {
            i {
              font-size: 22px;
              color: #555;
            }
          }
        }
      }
    }
  }
}
