.container {
  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 35px;
      border: 1px solid gray;
      border-radius: 50%;
      margin-right: 10px;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      h3 {
        font-size: 16px;
      }
      p {
        font-size: 15px;
        color: #777;
      }

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: blue;
      }
    }
  }

  .suggestions {
    padding: 15px 0px;
    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 16px;
        color: #333;
      }

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          color: #777;
        }
      }
    }
  }

  .suggestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
    img {
      width: 40px;
      border: 1px solid gray;
      border-radius: 50%;
      margin-right: 10px;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      h3 {
        font-size: 16px;
      }
      p {
        font-size: 15px;
        color: #777;
      }

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: blue;
      }
    }
  }
}
